.signupform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centering the form on the page */
}

.signupCard {
  background: rgba(161, 158, 158, 0.562); /* Clean white card */
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  border: "2px solid black";
}


.input {
  width: 100%;
  margin-bottom: 15px;
}



@media (max-width: 768px) {
  .signupCard {
    width: 90%; 
  }
}
